logs/
world/
world_nether/
world_the_end/
*.json
spigot.jar
plugins/*.jar
plugins/bStats/
plugins/BungeePerms/debug.log
plugins/BungeePerms/uuidplayerdb.yml
plugins/BuycraftX/cache/
plugins/Chairs/sit-disabled.txt
plugins/Essentials/warps/
plugins/Essentials/items.csv
plugins/HoloMedals/userdata.yml
plugins/JSONAPI/users.yml
plugins/LogBlock/materials.yml
plugins/LWC/backups/
plugins/LWC/lwc.db
plugins/mcMMO/backup/
plugins/mcMMO/flatfile/
plugins/OpenInv/config_old.yml
plugins/ProtocolLib/lastupdate
plugins/RemoteController/users.dat
plugins/TrailGUI/Userdata.yml
