logs/
world/
world_nether/
world_the_end/
*.json
spigot.jar
plugins/*.jar
plugins/AdvancedMobArena/stats.yml
plugins/bStats/
plugins/BungeePerms/debug.log
plugins/BungeePerms/uuidplayerdb.yml
plugins/BuycraftX/cache/
plugins/Chairs/sit-disabled.txt
plugins/dynmap/*.pending
plugins/Essentials/warps/
plugins/Essentials/items.csv
plugins/FastAsyncWorldEdit/de/
plugins/FastAsyncWorldEdit/history/
plugins/FastAsyncWorldEdit/ru/
plugins/HoloMedals/userdata.yml
plugins/JSONAPI/users.yml
plugins/LogBlock/materials.yml
plugins/LuckPerms/lib/
plugins/LWC/backups/
plugins/LWC/lwc.db
plugins/mcMMO/backup/
plugins/mcMMO/flatfile/
plugins/OpenInv/config_old.yml
plugins/ProtocolLib/lastupdate
plugins/RemoteController/users.dat
plugins/ShopChest/shops.db
plugins/TrailGUI/Userdata.yml
plugins/Updater/
plugins/Votifier/
plugins/VotingPlugin/Rewards/ExampleAdvanced.yml
plugins/VotingPlugin/Rewards/ExampleBasic.yml
plugins/VotingPlugin/Users.db
plugins/WorldEdit/sessions/
plugins/WorldGuard/cache/
